.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
    margin-bottom: 8rem;
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 3rem;
}

.header__navbar{
    display: flex;
    justify-content: center;
    gap: 3rem;
}


a.active {
    color: orange;
    font-weight: bold;
}
