

.header{
    width: 100%;
    margin-bottom: 8rem;
    border: 2px solid gray;
    border-radius: 1rem;
    padding: 3rem;
    align-self: center;
}

.header__navbar{
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.main{
    display: flex;
    flex-direction: column;
}


#dashboard{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-left: 10rem;
    gap: 10rem;

}

#sidbar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


footer{
    margin: auto;
    margin-top: 8rem;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.login button{
    cursor: pointer;
    border: 2px solid gray;
    padding: 1rem;
    margin-top: 1rem;
}