* , :after, :before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;

}
:root {
    --color--white: #fff;
    --color--text: #2e2e2e;
    --color--dark: rgb(16, 23, 34);
    --color--primary: rgb(30 41 59);
    --color--secendery: rgb(51 65 85);
    --color--third: rgb(100 116 139);
    --color--fours: rgb(148 163 184);

}


body{
    font-size: 1.6rem;
    background-color: var(--color--white);
    font-family: 'Montserrat', sans-serif;
}

input, textarea{
    outline: none;
    border: none;
    background: none;
}

button{
    border: none;
    background: none;
    outline: none;
    cursor: pointer;

}

p,span{
    font-size: 1.6rem;
    color: var(--color--text);
}


a{
    text-decoration: none;
    cursor: pointer;
    color: var(--color--text);
}

li,ul{
    list-style: none;

}

a.hover{
    color: var(--color--dark) ;
}

a.active {
    color: orange;
    font-weight: bold;
}

h1{
    color: var(--color--text);
    font-size: 4rem;
}

h2{
    color: var(--color--text);
    font-size: 3.5rem;
}

h3{
    color: var(--color--text);
    font-size: 2.5rem;
}
